.logoo{
    margin:auto;
    height: 500px;
    width: 500px;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(224, 7, 80);
    top: 50px;
    box-shadow: 20px 20px 40px #7784a8;
}
.logoe{
    margin:auto;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(210, 11, 228);
    background-repeat: no-repeat;
   bottom: 400px;
   right: 130px;
}
.logor{
    margin:auto;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(210, 11, 228);
   bottom: 600px;
   left: 130px;
}
.logot{
    margin:auto;
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(247, 160, 255);
   bottom: 720px;
   right: 100px;
 
}
.logoy{
    margin:auto;
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(247, 160, 255);
   bottom: 820px;
   left: 160px;
 
}
.logou{
    margin:auto;
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(0, 0, 0);
   bottom:870px;
   left: 180px;
 
}
.logoi{
    margin:auto;
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(0, 0, 0);
   bottom: 900px;
   right: 80px;
 
}
.logop{
    margin:auto;
    height: 20px;
    width:400px;
    position: relative;
    border-radius: 00px 00px 100px 100px;
    background-color: rgb(248, 137, 63);
   bottom: 730px;

 
}
.logok{
    margin:auto;
    height: 20px;
    width:400px;
    position: relative;
    border-radius: 100px 100px 00px 00px;
    background-color: rgb(248, 137, 63);
   bottom: 830px;

 
}
.logobb{
    margin:auto;
    height:25px;
    width:350px;
    position: relative;
    border-radius: 00px 00px 00px 00px;
    background-color: rgb(252, 252, 252);
   bottom: 830px;
 
}
.logobbb{
    margin:auto;
    height:25px;
    width:350px;
    position: relative;
    border-radius: 00px 00px 00px 00px;
    background-color: rgb(252, 252, 252);
   bottom: 820px;
 
}
.logoii{
    margin:auto;
    height:200px;
    width:200px;
    position: relative;
    border-radius: 00px 200px 00px 200px;
    background-color: rgb(188, 252, 39);
   
   bottom: 1050px;
   right: 250px;
}
.logokk{
    margin:auto;
    height:040px;
    width:40px; 
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1214px;
   right: 255px;
}
.logokaa{
    margin:auto;
    height:040px;
    width:40px; 
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
    bottom: 1215px;
    right: 294px;
}
.logozz{
    margin:auto;
    height:042px;
    width:042px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   bottom: 1275px;
   right: 235px;
}
.logozzz{
    margin:auto;
    height:042px;
    width:041px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1275px;
   right: 275px;
}
.logozyy{
    margin:auto;
    height:042px;
    width:041px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1300px;
   right: 252px;
}
.logos{
    margin:auto;
    height:042px;
    width:041px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
    bottom: 1380px;
    right: 213px;
}
.logom{
    margin:auto;
    height:038px;
    width:038px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1400px;
   right: 197px;
}
.logoj{
    margin:auto;
    height:038px;
    width:038px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1400px;
   right: 235px;
}
.logobn{
    margin:auto;
    height:030px;
    width:35px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1420px;
   right: 213px;
}
.logocd{
    margin:auto;
    height:030px;
    width:35px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1480px;
   right: 180px;
}
.logoxs{
    margin:auto;
    height:024px;
    width:024px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1465px;
   right: 195px;
}
.logoxd{
    margin:auto;
    height:024px;
    width:024px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom:1685px;
   right: 170px;
}
.logoxq{
    margin:auto;
    height:018px;
    width:015px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1632px;
   right: 177px;
}
.logozs{
    margin:auto;
    height:018px;
    width:015px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11,104, 8);
   
    bottom: 1690px;
    right: 161px;
}
.logodf{
    margin:auto;
    height: 31px;
    width:31px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1600px;
   right: 310px;
}
.logowe{
    margin:auto;
    height: 31px;
    width:31px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1663px;
   right: 275px;
}
.logodw{
    margin:auto;
    height: 28px;
    width:28px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1680px;
   right: 320px;
}
.logodq{
    margin:auto;
    height: 28px;
    width:28px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1732px;
   right: 295px;
}.logoff{
    margin:auto;
    height:018px;
    width:018px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1748px;
   right: 332px;
}
.logobg{
    margin:auto;
    height:018px;
    width:018px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1785px;
   right: 310px;    
}
.logoghh{
    margin:auto;
    height:014px;
    width:014px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color: rgb(11, 104, 8);
   
   bottom: 1870px;
   right: 326px;        
}
.logojhh{
    margin:auto;
    height:014px;
    width:014px;
    position: relative;
    border-radius: 50px 00px 50px     00px;
    background-color:  rgb(11, 104, 8);
   
   bottom: 1870px;
   right: 339px;    
}
.bilallogo{
    margin: auto;
    height: 290px;
    width: 8px;
    position: relative;
    border-radius: 100px 0px 0px 100px ;
    background-color:  rgb(11, 104, 8);
    bottom: 1943px;
    right: 250px;
    transform: rotate(-44.5deg);   
    }
.wir{
    margin: auto;
    height: 290px;
    width: 8px;
    position: relative;
    
    background-color:  rgb(00, 255,255);
    bottom: 1943px;
    right: 250px;
    transform: rotate(-44.5deg);   
}





